<ul>
	<li>
		<a [routerLink]="['/']">
			<h2>YukApp</h2>
		</a>
	</li>
	<li>
		<a [routerLink]="['profil']">
			<h2>Profil</h2>
		</a>
	</li>
	<li>
		<a [routerLink]="['groupe']">
			<h2>Groupe</h2>
		</a>
	</li>
	<li>
		<a [routerLink]="['/']">
			<h2>Historique</h2>
		</a>
	</li>
</ul>

<style>
	li {
		display: inline-block;
		padding-right: 10px;
	}

	h2 {
		color: white;
	}
</style>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->